/* NAVBAR / HEADER */

.navbar-header {
	display: inline-block;
	display: absolute;
	.header-center {
		display: block;
		text-align: center;
		margin: 0 auto;
	}
}


.board-item a {
	padding: 30px 0;
	text-align: center;
	display: block;
	border: 2px solid seagreen;
	margin: 5px auto;
	background-color: seagreen;
	color: white;
	letter-spacing: 0.15em;
	text-transform: uppercase;
}
